.PlayerList{
    width: 100%;
    font-size: .75rem;

    overflow-x: hidden;
    overflow-y: scroll;
}

.PlayerList::-webkit-scrollbar{
    background: none;
    width: 0.5rem;
}

.PlayerList::-webkit-scrollbar-thumb{
    transition: background 500ms;
    background: rgba(225, 28, 82, 0.5);
    border-radius: 1rem;
}

.PlayerList::-webkit-scrollbar-thumb:hover{
    transition: background 500ms;

    background: rgba(228, 28, 82, 0.75);
}

.PlayerList::-webkit-scrollbar-track{
    background: rgba(50, 50, 50, 0.25);
    border-radius: 1rem;

    margin: .5rem 0;
}

.list-element{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    overflow: hidden;
    cursor: pointer;

    padding-left: 1rem;
    margin: .5rem 0;

    height: 2rem;
    width: 20rem;

    border: 2 solid rgba(0, 0, 0, 0);
    border-radius: 2rem;

    box-shadow: .15rem .15rem .25rem rgba(0, 0, 0, 0.35);

    transition: all 150ms;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.list-element .team-logo{
    position: absolute;
    height: 2.75rem;
    opacity: 0.25;
    transform-origin: center;
    transform: rotate(-10deg)
}

.list-element p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    margin: 0;
}

.list-element .shop-logo{
    transition: all 150ms;
    position: absolute;
    right: .5rem;
    height: 2rem;
    opacity: 0.2;
}

.list-element:hover{
    transition: all 150ms;

    transform: scaleY(1.05);
    box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 0.35);
}

.list-element:hover .shop-logo{
    transition: all 150ms;
    opacity: 0.75;
}

.list-element:active{
    transition: all 150ms;

    transform: scaleY(1);
    box-shadow: .15rem .15rem .25rem rgba(0, 0, 0, 0.35);
}


.csh{
    background: rgba(176,25,126,1);
    background: linear-gradient(-90deg, rgba(225,28,82,1) 50%, rgba(176,25,126,1) 100%);
    color: white;
}

.csh .team-logo{
    height: 2.75rem;
}

.blackbaud{
    background: rgba(114,191,68,1);
    background: linear-gradient(-90deg, rgba(0,180,241,1) 0%, rgba(114,191,68,1) 100%);
    color: white;
}

.blackbaud .team-logo{
    opacity: 0.5;
    height: 7.5rem;
    left: 0rem;
}

.hogs{
    background: rgb(226,3,3);
    background: linear-gradient(90deg, rgba(226,3,3,1) 0%, rgba(17,20,23,1) 50%);
    color: white;
}

.hogs .team-logo{
    height: 4rem;
    opacity: 0.5;
    left: .5rem;
    transform: rotate(-25deg);
}

.ehouse{
    background: rgb(50,86,183);
    background: linear-gradient(-90deg, rgba(50,86,183,1) 0%, rgba(64,178,196,1) 100%);
    color: white;
}

.ehouse .team-logo{
    opacity: 0.5;
}

.sse{
    background: rgb(30,90,141);
    background: linear-gradient(-90deg, rgba(30,90,141,1) 0%, rgba(36,106,167,1) 100%);
    color: white;
}

.sse .team-logo{
    opacity: 0.5;
}

.arthouse{
    background: rgb(6,182,177);
    background: linear-gradient(90deg, rgba(6,182,177,1) 0%, rgba(248,165,253,1) 100%);
    color: white;
}

.arthouse .team-logo{
    opacity: 0.5;
    height: 3rem;
}

.rit{
    background: rgb(247,105,2);
    background: linear-gradient(90deg, rgba(247,105,2,1) 0%, rgba(172,163,154,1) 100%);
    color: white;
}

.rit .team-logo{
    opacity: 0.5;
    height: 4rem;
    left: .25rem;
}