.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Poppins", "Roboto", sans-serif;
  height: 92vh;

  h1 {

  }

  .panel-container {
    border-radius: 10px;
    width: 95%;
    height: 80vh;
    background-color: #EDEDED;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  }
}