.admin-panel {
  background-color: rgb(176, 25, 126);
  background-image: linear-gradient(rgb(67, 10, 48), rgb(176, 25, 126));
  min-height: calc(100vh - 56.59px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .login {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background-color: white;

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      width: 100%;

      .signin {
        background-color: #b0197e;
        width: 100%;
        padding: 10px;
      }
    }
  }
}