@font-face {
  font-family: 'Minecraft-Regular';
  src: local('Minecraft-Regular'), url(./Fonts/MinecraftRegular.otf) format('opentype');
}

@font-face {
  font-family: 'Minecraft-Bold';
  src: local('Minecraft-Bold'), url(./Fonts/MinecraftBold.otf) format('opentype');
}

@font-face {
  font-family: 'Minecraft-Italic';
  src: local('Minecraft-Italic'), url(./Fonts/MinecraftItalic.otf) format('opentype');
}

.username {
  padding: 5px;
  font-family: 'Minecraft-Regular';
}

.player-data {
  text-align-last: left;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.player-data .stats .armor {
  padding: 5px;
}

.player-data .stats .health {
  padding: 5px;
}

.player-data .stats .hunger {
  padding: 5px;
}
