/* The footer tag that holds all the footer information */
.Footer {
	min-height: 4rem;
	padding-bottom: 8px;
}

/* The a tags that hold the images and text that are relevant to the links */
.github,
.pubsite {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* All the p tags in the footer */
.Footer p {
	margin: 0;
	font-size: .75rem;
}

/* All the a tags in the footer */
.Footer a {
	display: flex;
	flex-direction: row;
	width: 100%;
}

/* All the a links in the footer */
.Footer a:link {
	text-decoration: none;
}

/* The p tag when the a tag is hovered over */
.Footer a:hover p {
	color: rgb(255, 186, 238);

	transition: all 250ms;
}

.footer-row{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
}

.footer-row a:link{
	color: white;
}

.footer-row a:visited{
	color: white;
}

.footer-row a:hover{
	color: lightgrey;
	text-decoration: underline;
}

.footer-row a:active{
	color: white;
}

.footer-row img{
	width: 100%;
	max-width: 300px;
}

.footer-row .bottom {
	padding: 0 10px 0 10px;
}

.footer-disclaimer {
	color: rgba(255, 255, 255, 0.75);
	padding: 0.5rem;
	margin-bottom: 8px;
	font-weight: 400;
	font-size: small;
}

@media only screen and (max-width: 850px){
	.footer-row{
		flex-direction: column;
	}
}