.Footer{
	display: flex;
	justify-content: space-between;
	align-items: center;

	min-height: 4rem;
	padding: 0rem 2rem;
}

.links{
	display: flex;
}

p{
	margin: 0;
}

a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#csh-logo{
	width: 3rem;
	margin: 0rem 1rem;
}

#github-logo{
	width: 3rem;
	margin: 0rem 1rem;
}