.Store{
    height: 100%;
    width: 100%;
    position: relative;
}

.store-window{
    width: 1700px;
    height: 680px;

    margin: 0 auto 2rem auto;
    padding-top: 1rem;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 8rem 92.5%;
    grid-template-areas: 
    "store-nav store-content";

    color: white;
}

.store-nav{
    width: 100%;
    padding: auto;

    border-radius: 7.5px 0 0 7.5px;

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.store-link:link{
    color: white;
}

.store-link:visited{
    color: white;
}

.store-link:hover{
    color: lightgrey;
    text-decoration: none;

    margin-top: 0;
}

.store-link:hover .icon{
    fill: lightgrey;
    width: 3.25rem;
}

.store-link{
    transition: all 200ms;
    margin: 0.5rem;
    text-align: center;

    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.store-link .icon{
    width: 2.75rem;
    margin: 0 auto;
    transition: all 200ms;
}

.toggle-cart{
    position: fixed;
    top: 100px;
    z-index: 2;

    height: 50px;
    width: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 7.5px 0 0 7.5px;
    border: none;
    filter: drop-shadow(-2.5px 3px 2px rgba(44, 44, 44, 0.438));

    cursor: pointer;

    transition: all 200ms;
}

.toggle-cart:focus{
    outline: none;
}

.toggle-cart span{
    transition: all 200ms;
}

.toggle-cart:hover span{
    transform: scale(1.1);
}

.toggle-cart:active span{
    transform: scale(1.05);
}

.toggle-cart[data-showcart='yes']{
    right: 350px;
    background-color: transparent;
    filter: none;
}

.toggle-cart[data-showcart='no']{
    right: 0;
}

@media only screen and (max-width: 1700px){
    .store-window{
        width: 90%;
        grid-template-columns: 8rem 90%;
    }
}

@media only screen and (max-width: 1000px){
    .store-window{
        width: 100%;
        margin: 0 0 2rem 0;
        grid-template-columns: 20% 80%;
    }

    .store-nav{
        border-radius: 0;
    }

    .store-link{
        font-size: 0.75rem;
        margin: 0.5rem 0;
    }

    .store-link:hover .icon{
        width: 2.75rem;
    }
    
    .store-link .icon{
        width: 2.25rem;
    }
}