.Store{
    height: 100%;
    width: 100%;
}

.store-window{
    width: 1700px;
    height: 1050px;

    margin: 2rem auto;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 8rem 92.5%;
    grid-template-areas: 
    "store-nav store-content";

    color: white;
}

.store-nav{
    background: #E11C52;
    width: 100%;
    padding: 1rem;

    list-style: none;
    display: flex;
    flex-direction: column;
}

.store-link:link{
    color: white;
}

.store-link:visited{
    color: white;
}

.store-link:hover{
    color: lightgrey;
    text-decoration: none;

    margin-top: 0;
}

.store-link:hover .icon{
    fill: lightgrey;
    width: 5.5rem;
}

.store-link{
    transition: all 200ms;
    margin: 0.5rem;
    text-align: center;
}

.store-link .icon{
    width: 5rem;
    margin: 0 auto;
    transition: all 200ms;
}

@media only screen and (max-width: 1700px){
    .store-window{
        width: 90%;
    }
}