.Store{
    height: 100%;
    width: 100%;
}

.store-window{
    width: 1700px;
    height: 680px;

    margin: 1rem auto 2rem auto;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 8rem 92.5%;
    grid-template-areas: 
    "store-nav store-content";

    color: white;
}

.store-nav{
    background: #E11C52;
    width: 100%;
    padding: auto;

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.store-link:link{
    color: white;
}

.store-link:visited{
    color: white;
}

.store-link:hover{
    color: lightgrey;
    text-decoration: none;

    margin-top: 0;
}

.store-link:hover .icon{
    fill: lightgrey;
    width: 3.25rem;
}

.store-link{
    transition: all 200ms;
    margin: 0.5rem;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.store-link .icon{
    width: 2.75rem;
    margin: 0 auto;
    transition: all 200ms;
}

@media only screen and (max-width: 1700px){
    .store-window{
        width: 90%;
        grid-template-columns: 8rem 90%;
    }
}

@media only screen and (max-width: 850px){
    .store-window{
        width: 100%;
        margin: 1rem 0 2rem 0;
        grid-template-columns: 20% 80%;
    }

    .store-link{
        font-size: 0.75rem;
        margin: 0.5rem 0;
    }

    .store-link:hover .icon{
        width: 2.75rem;
    }
    
    .store-link .icon{
        width: 2.25rem;
    }
}