.disabled-items {
  position: relative;
  padding: 10px;
  font-family: 'Poppins';

  .StoreContent {
    border-radius: 7.55px;
    min-height: 79vh;
    overflow-y: scroll;
    background-color: #dadada;
    padding: 10px;
    max-width: 90%;
  }

  .search-bar {
    width: 90%;
    margin: auto;
  }

  .selected {
    border: 10px solid rgb(255, 0, 170);
  }

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  text-align: left;

  padding: 5px;

  h1.title {
    font-size: 50px;
    color: white;
  }

  .toggle-button {
    border-radius: 7.55px;
    background-color: #cd1b4c;
    position: fixed;
    bottom: 100px;
    right: 100px;
    font-size: 30px;
  }
}